.card {
  border-radius: 15px;
}

.card-header {
  font-size: 1.2rem;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.btn-info {
  background-color: #17a2b8;
  border: none;
}

.btn-info:hover {
  background-color: #138496;
}

.spinner-border {
  margin-right: 5px;
}

.text-success {
  cursor: pointer;
  transition: transform 0.2s;
}

.text-success:hover {
  transform: scale(1.1);
}
