.signup-container {
  max-width: 700px;
  margin: 0px auto;
  padding: 20px;
}

.signup-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.signup-form .form-control {
  border-radius: 8px;
}

.signup-form .btn {
  font-size: 1.2rem;
  padding: 10px;
}

.text-danger {
  font-size: 0.9rem;
}
